@import "mocha.css";

* {
  font-family: 'FiraCode Nerd Font';
  font-size: 14px;
  color: @text;
  background: @transparent;
}

window#waybar {
  border: hidden;
  border-radius: 10px;
  /*FIXME: setting opacity to 1 create black edges*/
  background: alpha(@surface0, 0.99);
}

#custom-menu,
#workspaces,
#clock,
#backlight,
#pulseaudio,
#bluetooth,
#network,
#battery {
  margin: 8px;
}

#battery.charging { color: @green; }
#battery.warning { color: @peach; }
#battery.critical { color: @red; }

#custom-menu { font-size: 20px; }

/*FIXME: Find how to change hover css settings*/
#workspaces button.focused { 
  background: @surface1;
}

/* Add margins to widgets at the end to make it look better */
#custom-menu { margin-left: 12px; }
#pulseaudio { margin-right: 12px; }
